# Godot 4
.godot/
*.uid

# Android build outputs
/build/
/android/
/local.properties
*.local

# Export templates (keep the source template, but not build artifacts)
# Bloat / download archieves
*.zip
assets/**/Previews/
assets/**/Models/OBJ format/
assets/**/Models/FBX format/
